<div class="Orders--Card">
  <div class="Item-List">
    <p class="Category-Title">
    Order ID: <%= order.id %>
    </p>
    <p class="Orders--Card--Status <%= order.delivered_at == nil ? "Pending" : "Delivered" %>">
      <%= order.delivered_at == nil ? "Pending" : "Delivered" %>
    </p>
  </div>
  <ul class="Category-List">
  <% items.each do |item| %>
      <li class="Category-Item">
        <div>
          <div class="Item-List">
          <p><%= item.menu_item_name %></p>
          <p><%= item.qty %></p>
          <p>₹<%= item.menu_item_price %></p>
          </div>
        </div>
      </li>
  <% end %>
  </ul>
  <div class="Total">
    <h1 class="Total--item">Total:</h1>
    <p class="Total--item">₹<%= @current_user.orders.total(order.id) %></p>
  </div>
</div>
