<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    -->
  </head>

  <body>
    <% if @current_user %>
      <p class="UserHeader">
        Hello <%= @current_user.name %>!
        <%= link_to "Sign-out", destroy_session_path, method: "delete" %>
      </p>
      <p class="Links">
        <% if @current_user.role == "owner" %>
          <%= link_to "Menu Card Settings", new_owner_path, method: "get" %>
          <%= link_to "Pending Orders", new_pending_orders_path, method: "get" %>
          <%= link_to "User Management", users_path, method: "get" %>
        <% elsif @current_user.role == "clerk" %>
          <%= link_to "Place Order/View Cart", new_customer_path, method: "get" %>
          <%= link_to "Pending Orders", new_pending_orders_path, method: "get" %>
        <% elsif @current_user.role == "customer" %>
          <%= link_to "Place Order/View Cart", new_customer_path, method: "get" %>
          <%= link_to "Order History", new_order_history_path, method: "get" %>
        <% end %>
      </p>
    <% end %>

    <% if flash[:msg] %>
      <p class="Flash-success">
      <%= flash[:msg] %>
      </p>
    <% end %>

    <% if flash[:error] %>
      <p class="Flash-error">
        <%= flash[:error] %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
